extends layout

block content
  div.container
    h1 What's Hot?
    br
    div.row
        each coin in data
          div.col-sm-4
            .panel.panel-info
                .panel-heading 
                    h3 #{coin.name} (#{coin.symbol})
                .panel-body 
                    table(style="width:100%")
                      tr
                        th Popularity
                        th 1hr 
                        th 24hr
                        
                      tr
                        td #{coin.mentions}
                        td #{coin.percent_change_1h}%
                        td #{coin.percent_change_24h}%
                        
                      tr
                        th 24hr Volume
                        th Market Cap
                        th Rating

                      tr
                        td $#{coin["24h_volume_usd"].replace(/\B(?=(\d{3})+(?!\d))/g, ",")}
                        td $#{coin.market_cap_usd.replace(/\B(?=(\d{3})+(?!\d))/g, ",")}
                        td #{coin.rating}

    h4 Last updated #{timeStamp}
    p Developed by Ewen 2018
    a(class="github-button" href="https://github.com/ewenw/Cryptone" data-size="large" aria-label="Star ewenw/Cryptone on GitHub") Star
                      
                
